@import "tailwindcss";

@keyframes gradient-move {
  0%, 100% {
    background-position: 40% 10%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient-move {
  background-size: 200% 200%;
  animation: gradient-move 5s ease infinite;
}
